# Rust
/target/
/**/*.rs.bk

# Ignore downloaded source tarballs
*.tar.gz
# Ignore the compiled package files
*.pkg.tar.zst

# Editors / OS
.idea/
.vscode/
*.iml
.DS_Store
Thumbs.db
*.swp
*.swo

# Logs / coverage / misc
*.log
coverage/
*.profraw
*.profdata

# Env & secrets
.env
*.pem

# Packaging
packaging/aur/src/
packaging/aur/pkg/

# Proptests
**/proptest-regressions/

